# Goreleaser
dist/
.github/release-notes.md
.github/crds.yaml

# Build
/provider-postgresql
*.out

# Docs
.cache/
.public/
node_modules/

# kind
.kind/

# Charts
charts/.artifacts
.cr-release-packages/
.cr-index/
